.teacherProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    & .navContainer{
        background-color: rgb(55, 87, 163);
        padding: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .navBar{
            padding: 5px;
            width: 35%;
            display: flex;
            align-items: center;
            font-weight: 400;
            justify-content: space-around;
                & .navButton{
                    color: white;
                    text-transform: uppercase;
                    transition: all .2s;
                    padding: 5px 20px;
                    border-radius: 10px;
                    background-color: rgb(55, 87, 163);

                    &:hover{
                        cursor: pointer;
                        background-color: rgb(11, 74, 210);
                    }
                    &:active{
                        cursor: pointer;
                        transform: translateY(2px);
                    }
                }
                
            
        }
        .logoutButton{
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            transition: all .2s;
            padding: 5px 20px;
            border-radius: 10px;
            background-color: rgb(55, 87, 163);   
            &:hover{
                cursor: pointer;
                background-color: rgb(11, 74, 210);
            }
             &:active{
                cursor: pointer;
                transform: translateY(2px);
            }              
        }
    }

    & .profileBody{
        width: 100%;
    }
}